.container {
    width: 600px;
    height: 150px;
    border: 5px solid #333;
    max-width: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    /* align-items: flex-start; */
}

/* .container::after {
    counter-reset: '';
    display: block;
    clear: both;
} */

.container div {
    /* width: 100px;
    height: 100px; */
    background-color: rgb(19, 133, 255);
    /* float: left; */
    margin: 2px;
    flex: 1;
}

/* .container div.tiga {
    font-size: 60px;
}

.container div.empat {
    font-size: 100px;
} */
 
/* .satu { order: 3; }
.dua { order: 4; }
.tiga { order: 2; }
.empat { order: 1; } */

.container div.dua {
    flex: 3;
    /* align-self: flex-end; */
    align-self: center;
}