* {
    margin: 0;
    padding: 0;
}

body, .layanan {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.desk {
    text-align: center;
    color: rgb(250, 250, 184);
    position: relative;
    top: 80px;
}

nav {
    display: flex;
    background-color: rgb(117, 19, 19);
    justify-content: space-around;
    color: rgb(251, 251, 126);
    height: 50px;
    align-items: center;
}

nav .logo, .deskripsi, .Product, .clue, .bagian2, .desk, .date, .credit {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(255, 255, 117);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    background-color: rgb(247, 247, 159);
    color: rgb(112, 31, 31);
    transition: 0.8em;
    border-radius: 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;

    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(99, 31, 31);
        z-index: 99;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}

/* akhir bagian atas */

.gambar1 {
    height: 500px;
    width: 800px;
    padding-left: 360px;
    position: relative;
    top: 45px;
}

.deskripsi {
    text-align: center;
    color: rgb(255, 255, 167);
    margin: 10px auto;
    width: 55%;
    position: relative;
    top: 90px;
}

.chara1 {
    width: 300px;
    height: 300px;
    position: relative;
    top: -300px;
    padding-left: 30px;
}

.chara2 {
    width: 300px;
    height: 300px;
    position: relative;
    top: -300px;
    padding-left: 800px;
}

@media screen and (max-wid: 768px) {
    .gambar1 {
        width: 100%;
    }

    .deskripsi {
        width: 95%;
        font-size: 0.9em;
    }

    .charas {
        flex-wrap: wrap;
        justify-content: center;
        width: 45%;
        margin: 10px;
    }
}

@media screen and (max-width: 576px ) {
    .gambar1 {
        width: 100%;
        position: relative;
        display: none;
    }

    .deskripsi {
        width: 95%;
        font-size: 0.9em;
    }

    .charas {
        flex-direction: column;
        left: 80px;
        width: 70%;
        margin: 10px 0;
        position: relative;
        top: 440px;
    }
}

/* Akhir Bagian 2 */

.bagian2 {
    color: rgb(244, 244, 172);
    text-align: center;
}

.Product {
    text-align: center;
    color: rgb(255, 255, 168);
    position: relative;
    top: 16px;
}

.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;
    background-color: rgb(148, 24, 24);
    border-radius: 20xp;
}

.card {
    border: 1px solid #aaa;
    border-radius: 30px;
    background-color: black;
    overflow: hidden;
    margin: 10px;
    flex: 1;
}

.card .header1 {
    height: 100px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('../latihan6/map\ rumah\ sakit.png');
}

.card .header2 {
    height: 100px;
    width: 250px;
    background-size: cover;
    background-image: url('../latihan6/map\ rumah.png');
}

.card .header3 {
    height: 100px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('../latihan6/map\ rumah\ sakit.png');
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}

.card.besar {
    transform: scale(1.12);
}

/* Akhir Bagian 3 */

.containerr {
    width: 550px;
    height: 150px;
    border: 5px solid #333;
    max-width: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

.containerr div {
    background-color: rgb(255, 255, 189);
    margin: 2px;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.satu {
    background-image: url('1.png');
}

.dua {
    background-image: url('2.png');
}

.tiga {
    background-image: url('3.png');
}

.empat {
    background-image: url('4.png');
}

.lima {
    background-image: url('5.png');
}

.enam {
    background-image: url('6.png');
}

.clue {
    position: relative;
    color: rgb(240, 240, 158);
}

.amara {
    width: 400px;
    height: 600px;
    position: relative;
    left: 500px;
    top: 50px;
}

.container-dua {
    max-width: 400px;
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    top: -500px;
}

.layanan.satu {
    background-color: rgb(189, 38, 38);
    color: rgb(251, 251, 171);
}

.layanan.dua {
    background-color: rgb(182, 36, 36);
    color: rgb(247, 247, 179);
}

/* Bagian Akhir */
.footer {
    background-color: #b81212fe;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(227, 243, 164);
    text-align: center;
    font-size: 12px;
    position: relative;
}

.credit {
    left: 1000px;
    position: relative;
    color: rgb(249, 249, 184);
    top: 205px;
}

.date {
    text-align: right;
    color: rgb(244, 244, 167);
}